.increase-button {
    border: none;
    background-color: transparent;
    padding: 0;
  }
  
  .increase-button img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #70db70;
    padding: 5px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
  }
  
  .decrease-button {
    text-decoration-color: white;
    border: black;
    width: 30px;
    height: 30px;
    background-color: transparent;
    padding: 0;
  }
  
  .decrease-button img {
    text-decoration-color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ff5c5c;
    padding: 5px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
  }
  